/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Navbar */
nav {
    background: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Sections */
section {
    padding: 40px;
    text-align: center;
}

section:nth-child(even) {
    background: #f4f4f4;
}

/* Image */
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #333;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
    margin: 15px 0;
}
/*Hover effet*/
img:hover{
    transform: scale(0.5);
    box-shadow: 0 8px 20px rgba(red, green, blue, alpha);
}

/* Projects */
.project {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ccc;
}
.calculator {
    width: 260px;
    margin: 40px auto;
    padding: 15px;
    border-radius: 12px;
    background: #222;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

#display {
    width: 100%;
    height: 50px;
    margin-bottom: 12px;
    text-align: right;
    font-size: 20px;
    padding: 8px;
    border-radius: 6px;
    border: none;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background: #444;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #666;
}
section {
    display: none;
}

#home {
    display: block;
}
/* Links */
a {
    color: blue;
}

/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
